@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=EB+Garamond&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Cormorant Garamond";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Cormorant Garamond";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #060908;
  scrollbar-width: none;
}
body.lock {
  overflow: hidden;
  touch-action: none;
}
.loaded body main {
  display: block;
}
body main {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}
main > div {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
}
main > div > [class*=__container] {
  flex: 1 1 auto;
  display: flex;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 112.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 5.5rem;
}
@media (max-width: 123.5em) {
  [class*=__container] {
    padding: 0 65px;
  }
}
@media (max-width: 61.99875em) {
  [class*=__container] {
    padding: 0 55px;
  }
}
@media (max-width: 48.0625em) {
  [class*=__container] {
    padding: 0 35px;
  }
}
@media (max-width: 29.99875em) {
  [class*=__container] {
    padding: 0 25px;
  }
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 48.0625em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  color: #B4835C;
  position: relative;
  font-size: 32px;
}
.btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 50%;
  bottom: -6px;
  transform: translate(-50%, 0);
  background: #B4835C;
  transition: width 0.3s;
}
.btn:hover::after {
  content: "";
  width: 100%;
}

.graphics {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.graphics.tNone {
  top: 10.33vh;
  overflow: hidden;
}

.bodyLine {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 55fr 45fr;
  position: relative;
  margin: 10.33vh 0 10vh 0;
}
@media (max-width: 48.0625em) {
  .bodyLine {
    grid-template-columns: 1fr;
    grid-template-rows: 57fr 43fr;
    margin: 10.33vh 0 5vh 0;
  }
}
@media (orientation: portrait) {
  .bodyLine {
    grid-template-columns: 1fr;
    grid-template-rows: 57fr 43fr;
    margin: 10.33vh 0 5vh 0;
  }
}
.bodyLine::before {
  content: "";
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 300vw;
  height: 1px;
  z-index: -1;
}
.bodyLine::after {
  content: "";
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  left: -100%;
  top: 0;
  width: 300vw;
  height: 1px;
  z-index: -1;
}
.bodyLine > span {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  right: 0;
  top: -100%;
  width: 1px;
  height: 500vh;
  z-index: -1;
}
.bodyLine.center {
  grid-template-columns: 50fr 50fr;
}
@media (max-width: 48.0625em) {
  .bodyLine.center {
    grid-template-columns: 1fr;
    grid-template-rows: 50fr 50fr;
  }
}
@media (orientation: portrait) {
  .bodyLine.center {
    grid-template-columns: 1fr;
    grid-template-rows: 50fr 50fr;
  }
}
.bodyLine.contact {
  display: flex;
}
.bodyLine.contact .content-contact {
  flex: 0 0 75%;
}
@media (max-width: 1150px) {
  .bodyLine.contact .content-contact {
    flex: 0 0 65%;
  }
}
@media (max-width: 48.0625em) {
  .bodyLine.contact {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (orientation: portrait) {
  .bodyLine.contact {
    display: flex;
    flex-direction: column-reverse;
  }
}
.bodyLine.slider {
  grid-template-columns: 75fr 25fr;
}
@media (max-width: 61.99875em) {
  .bodyLine.slider {
    grid-template-columns: 1fr;
    grid-template-rows: 100fr 0fr;
  }
}
@media (orientation: portrait) {
  .bodyLine.slider {
    grid-template-columns: 1fr;
    grid-template-rows: 100fr 0fr;
  }
}

.contentLine {
  position: relative;
}
.contentLine::after {
  content: "";
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  right: 0;
  top: -100%;
  width: 1px;
  height: 400vh;
  z-index: -1;
}
@media (max-width: 48.0625em) {
  .contentLine::after {
    right: -100%;
    top: 100%;
    width: 300vw;
    height: 1px;
  }
}
@media (orientation: portrait) {
  .contentLine::after {
    right: -100%;
    top: 100%;
    width: 300vw;
    height: 1px;
  }
}
.contentLine::before {
  content: "";
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  left: 0;
  top: -100%;
  width: 1px;
  height: 400vh;
  z-index: -1;
}
.contentLine.contact::after {
  content: "";
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  right: 0;
  top: -100%;
  width: 1px;
  height: 400vh;
  z-index: -1;
}
@media (max-width: 48.0625em) {
  .contentLine.contact::after {
    display: none;
  }
}
@media (orientation: portrait) {
  .contentLine.contact::after {
    display: none;
  }
}

.contentBody {
  padding-left: 5.4%;
  padding-top: 10.2%;
  padding-bottom: 14.7%;
  position: relative;
  width: 100%;
}
@media (max-width: 48.0625em) {
  .contentBody {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media (orientation: portrait) {
  .contentBody {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
.contentBody.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
.contentBody.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5.2%;
  padding-bottom: 5%;
}
.contentBody.slider > div {
  width: 100%;
  height: 100%;
}
@media (max-width: 48.0625em) {
  .contentBody.slider {
    padding: 8%;
  }
}
@media (orientation: portrait) {
  .contentBody.slider {
    padding: 8%;
  }
}

.titleH2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.21;
  letter-spacing: 0.03em;
}
@media (min-width: 123.5em) {
  .titleH2 {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 1.875rem , 1.6576086957rem  +  1.0869565217vw , 3rem )) {
    .titleH2 {
      font-size: clamp( 1.875rem , 1.6576086957rem  +  1.0869565217vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.6576086957rem  +  1.0869565217vw , 3rem )) {
    .titleH2 {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .titleH2 {
    font-size: 1.875rem;
  }
}

.text24 {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media (min-width: 123.5em) {
  .text24 {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 0.875rem , 0.8025362319rem  +  0.3623188406vw , 1.25rem )) {
    .text24 {
      font-size: clamp( 0.875rem , 0.8025362319rem  +  0.3623188406vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8025362319rem  +  0.3623188406vw , 1.25rem )) {
    .text24 {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .text24 {
    font-size: 0.875rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  transform: translateY(-99%);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10.3vh;
}
.header__logo {
  margin-left: 53px;
  z-index: 4;
}
@media (max-width: 123.5em) {
  .header__logo {
    margin-left: 45px;
  }
}
@media (max-width: 61.99875em) {
  .header__logo {
    margin-left: 35px;
  }
}
@media (max-width: 48.0625em) {
  .header__logo {
    margin-left: 25px;
  }
}
@media (max-width: 29.99875em) {
  .header__logo {
    margin-left: 20px;
    height: 40px;
  }
}
.header__logo img {
  max-height: 100%;
}
.header._animation {
  transition: transform 2s ease-out;
  transform: translate(0, 0);
}

.menu {
  display: flex;
  align-items: center;
}
.menu__icon {
  margin-left: 53px;
}
@media (max-width: 123.5em) {
  .menu__icon {
    margin-left: 45px;
  }
}
@media (max-width: 61.99875em) {
  .menu__icon {
    margin-left: 35px;
  }
}
@media (max-width: 48.0625em) {
  .menu__icon {
    margin-left: 25px;
  }
}
@media (max-width: 29.99875em) {
  .menu__icon {
    margin-left: 20px;
  }
}
.menu__body {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  height: 100dvh;
  transition: transform 0.5s ease;
  transform: translateX(150%);
  background: #060908;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  max-width: 610px;
  padding: 0 70px;
}
.menu__body::before {
  content: "";
  position: absolute;
  top: 10.3%;
  left: 10%;
  width: 80%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1490196078);
}
@media (max-width: 48.0625em) {
  .menu__body::before {
    left: 0;
    width: 100%;
  }
}
.menu__body._open {
  transform: translate(0, 0);
}
@media (max-width: 48.0625em) {
  .menu__body {
    width: 100%;
    max-width: 100%;
    padding: 0 60px;
  }
}
@media (max-width: 29.99875em) {
  .menu__body {
    padding: 0 15px 0 45px;
    align-items: flex-start;
  }
}
.menu__item {
  margin-bottom: 4vh;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  cursor: pointer;
}
@media (min-width: 123.5em) {
  .menu__item {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 1.625rem , 1.5042270531rem  +  0.6038647343vw , 2.25rem )) {
    .menu__item {
      font-size: clamp( 1.625rem , 1.5042270531rem  +  0.6038647343vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.625rem , 1.5042270531rem  +  0.6038647343vw , 2.25rem )) {
    .menu__item {
      font-size: calc(1.625rem + 0.625 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .menu__item {
    font-size: 1.625rem;
  }
}
.menu__link {
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 50%;
  bottom: -6px;
  transform: translate(-50%, 0);
  background: white;
  transition: width 0.6s;
}
.menu__link:hover::after, .menu__link._navigator-active::after {
  content: "";
  width: 100%;
}

.icon-menu {
  margin-right: 15px;
}

.lang-header {
  display: flex;
  gap: 18px;
}
@media (max-width: 48.0625em) {
  .lang-header {
    gap: 14px;
  }
}
.lang-header__item {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}
.lang-header__item:nth-child(1)::after {
  content: "";
  background: white;
  position: absolute;
  right: -9px;
  top: 0;
  width: 1px;
  height: 100%;
  border-radius: 50%;
}
.lang-header__item:hover {
  color: white;
}
.lang-header__item._active {
  color: white;
}
@media (max-width: 123.5em) {
  .lang-header__item {
    font-size: 28px;
  }
}
@media (max-width: 61.99875em) {
  .lang-header__item {
    font-size: 26px;
  }
}
@media (max-width: 48.0625em) {
  .lang-header__item {
    font-size: 24px;
  }
  .lang-header__item:nth-child(1)::after {
    right: -7px;
  }
}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  cursor: pointer;
  z-index: 5;
}
.icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.5s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
  width: 75%;
}
.icon-menu span:nth-child(1) {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: opacity 0.5s ease, left 0.5s ease;
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
@media (max-width: 61.99875em) {
  .icon-menu span:nth-child(1) {
    display: none;
  }
}
.icon-menu span:nth-child(2) {
  content: "";
  transition: all 0.5s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
  top: calc(50% - 0.0625rem);
  width: 43%;
}
.menu-open .icon-menu::before, .menu-open .icon-menu::after {
  width: 100%;
}
.menu-open .icon-menu span:nth-child(1) {
  opacity: 1;
  left: -80px;
}
.menu-open .icon-menu span:nth-child(1).en {
  left: -60px;
}
.menu-open .icon-menu span:nth-child(2) {
  width: 0;
}
.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  transform: rotate(-45deg);
}
.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  transform: rotate(45deg);
}

.welcome {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  z-index: 6;
  overflow: hidden;
}
.welcome__container {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  z-index: 5;
}
.welcome .graphics {
  transform: translate(-99%, -99%);
}
.welcome .graphics._animation {
  transition: transform 2s ease-in-out 0.5s;
  transform: translate(0, 0);
}
.welcome .bodyLine::before, .welcome .bodyLine::after {
  transform: translateX(-99%);
}
.welcome .bodyLine span {
  transform: translateY(-99%);
}
.welcome .bodyLine._animation::before, .welcome .bodyLine._animation::after {
  transition: transform 3s ease-out 2s;
  transform: translate(0, 0);
}
.welcome .bodyLine._animation span {
  transition: transform 3s ease-out 1s;
  transform: translate(0, 0);
}
.welcome .contentLine::before, .welcome .contentLine::after {
  transform: translateY(-99%);
}
.welcome .contentLine._animation::before, .welcome .contentLine._animation::after, .welcome .contentLine._animation span {
  transition: transform 3s ease-out 1s;
  transform: translate(0, 0);
}

.content-welcome {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content-welcome__border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translateX(-99%);
}
.content-welcome__border img {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(0, -50%);
  object-fit: fill;
  margin: 0;
  padding: 0;
}
.content-welcome__border._animation {
  transition: transform 2s ease;
  transform: translate(0, 0);
}
.content-welcome__title {
  font-weight: 700;
  font-size: 128px;
  line-height: 1.21;
  letter-spacing: 0.03em;
  margin-bottom: 3.42%;
  transform: translateX(-99%);
}
@media (min-width: 123.5em) {
  .content-welcome__title {
    font-size: 8rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 0.3125rem , -1.1730072464rem  +  7.4275362319vw , 8rem )) {
    .content-welcome__title {
      font-size: clamp( 0.3125rem , -1.1730072464rem  +  7.4275362319vw , 8rem );
    }
  }
  @supports not (font-size: clamp( 0.3125rem , -1.1730072464rem  +  7.4275362319vw , 8rem )) {
    .content-welcome__title {
      font-size: calc(0.3125rem + 7.6875 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .content-welcome__title {
    font-size: 0.3125rem;
  }
}
.content-welcome__title._animation {
  transition: transform 2s ease-out;
  transform: translate(0, 0);
}
.content-welcome__text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  max-width: 66%;
  margin-bottom: 9.7%;
  transform: translateX(-100%);
}
@media (min-width: 123.5em) {
  .content-welcome__text {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 0.25rem , -0.0398550725rem  +  1.4492753623vw , 1.75rem )) {
    .content-welcome__text {
      font-size: clamp( 0.25rem , -0.0398550725rem  +  1.4492753623vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 0.25rem , -0.0398550725rem  +  1.4492753623vw , 1.75rem )) {
    .content-welcome__text {
      font-size: calc(0.25rem + 1.5 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .content-welcome__text {
    font-size: 0.25rem;
  }
}
.content-welcome__text._animation {
  transition: transform 2s ease-out;
  transform: translate(0, 0);
}
.content-welcome__btn {
  transform: translateX(-100%);
}
@media (min-width: 123.5em) {
  .content-welcome__btn {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 0.625rem , 0.3592995169rem  +  1.3285024155vw , 2rem )) {
    .content-welcome__btn {
      font-size: clamp( 0.625rem , 0.3592995169rem  +  1.3285024155vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 0.625rem , 0.3592995169rem  +  1.3285024155vw , 2rem )) {
    .content-welcome__btn {
      font-size: calc(0.625rem + 1.375 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .content-welcome__btn {
    font-size: 0.625rem;
  }
}
.content-welcome__btn._animation {
  transition: transform 2s ease-out;
  transform: translate(0, 0);
}
@media (max-width: 48.0625em) {
  .content-welcome__border {
    display: none;
  }
}
@media (max-width: 48.0625em) and (min-width: 123.5em) {
  .content-welcome__title {
    font-size: 8rem;
  }
}
@media (max-width: 48.0625em) and (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 3.75rem , 2.9287439614rem  +  4.1062801932vw , 8rem )) {
    .content-welcome__title {
      font-size: clamp( 3.75rem , 2.9287439614rem  +  4.1062801932vw , 8rem );
    }
  }
  @supports not (font-size: clamp( 3.75rem , 2.9287439614rem  +  4.1062801932vw , 8rem )) {
    .content-welcome__title {
      font-size: calc(3.75rem + 4.25 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 48.0625em) and (max-width: 20em) {
  .content-welcome__title {
    font-size: 3.75rem;
  }
}
@media (max-width: 48.0625em) {
  .content-welcome__text {
    max-width: 100%;
  }
}
@media (max-width: 48.0625em) and (min-width: 123.5em) {
  .content-welcome__text {
    font-size: 1.75rem;
  }
}
@media (max-width: 48.0625em) and (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 1.25rem , 1.1533816425rem  +  0.4830917874vw , 1.75rem )) {
    .content-welcome__text {
      font-size: clamp( 1.25rem , 1.1533816425rem  +  0.4830917874vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.1533816425rem  +  0.4830917874vw , 1.75rem )) {
    .content-welcome__text {
      font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 48.0625em) and (max-width: 20em) {
  .content-welcome__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 48.0625em) {
  .content-welcome__btn {
    margin-bottom: 20px;
    font-size: 32px;
  }
}
@media (orientation: portrait) {
  .content-welcome__border {
    display: none;
  }
}
@media (orientation: portrait) and (min-width: 123.5em) {
  .content-welcome__title {
    font-size: 8rem;
  }
}
@media (orientation: portrait) and (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 3.75rem , 2.9287439614rem  +  4.1062801932vw , 8rem )) {
    .content-welcome__title {
      font-size: clamp( 3.75rem , 2.9287439614rem  +  4.1062801932vw , 8rem );
    }
  }
  @supports not (font-size: clamp( 3.75rem , 2.9287439614rem  +  4.1062801932vw , 8rem )) {
    .content-welcome__title {
      font-size: calc(3.75rem + 4.25 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (orientation: portrait) and (max-width: 20em) {
  .content-welcome__title {
    font-size: 3.75rem;
  }
}
@media (orientation: portrait) {
  .content-welcome__text {
    max-width: 100%;
  }
}
@media (orientation: portrait) and (min-width: 123.5em) {
  .content-welcome__text {
    font-size: 1.75rem;
  }
}
@media (orientation: portrait) and (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 1.25rem , 1.1533816425rem  +  0.4830917874vw , 1.75rem )) {
    .content-welcome__text {
      font-size: clamp( 1.25rem , 1.1533816425rem  +  0.4830917874vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.1533816425rem  +  0.4830917874vw , 1.75rem )) {
    .content-welcome__text {
      font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (orientation: portrait) and (max-width: 20em) {
  .content-welcome__text {
    font-size: 1.25rem;
  }
}
@media (orientation: portrait) {
  .content-welcome__btn {
    margin-bottom: 20px;
  }
}

.video-welcome {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 61.5%;
  height: 100%;
  z-index: -1;
  transform: translateX(100%);
}
.video-welcome__video {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.video-welcome__video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.video-welcome__video::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.383865) 0%, rgba(15, 15, 15, 0.9) 100%);
}
@media (max-width: 48.0625em) {
  .video-welcome {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 41.3%;
  }
}
@media (orientation: portrait) {
  .video-welcome {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 41.3%;
  }
}
.video-welcome._animation {
  transition: transform 2s ease;
  transform: translate(0, 0);
}

.content-about__body {
  padding-right: 5%;
}
.content-about__title {
  margin-bottom: 3.42%;
  transform: translateX(-99%);
}
.content-about__title._animation {
  transition: transform 2s ease-out;
  transform: translate(0, 0);
}
.content-about__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  transform: translateX(-99%);
}
@media (min-width: 123.5em) {
  .content-about__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 1.25rem , 1.2016908213rem  +  0.2415458937vw , 1.5rem )) {
    .content-about__text {
      font-size: clamp( 1.25rem , 1.2016908213rem  +  0.2415458937vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.2016908213rem  +  0.2415458937vw , 1.5rem )) {
    .content-about__text {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .content-about__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 48.0625em) {
  .content-about__text {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.content-about__text._animation {
  transition: transform 2s ease-out;
  transform: translate(0, 0);
}

.img-about {
  position: relative;
  transform: translateX(99%);
}
.img-about__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.img-about._animation {
  transition: transform 2s ease-out;
  transform: translate(0, 0);
}

.more__body.bodyLine::before, .more__body.bodyLine::after, .more__body.bodyLine span {
  z-index: 5;
}
.more__body > span {
  z-index: 5;
}

.content-more {
  transform: translateX(99%);
}
.content-more.contentLine {
  position: relative;
  z-index: 2;
}
.content-more.contentLine::before, .content-more.contentLine::after {
  z-index: 1;
}
.content-more__body {
  position: relative;
}
.content-more__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 48.0625em) {
  .content-more__wrapper img {
    width: calc(100% + 70px);
    left: -35px;
  }
}
@media (max-width: 29.99875em) {
  .content-more__wrapper img {
    width: calc(100% + 50px);
    left: -25px;
  }
}
.content-more__wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.298562) 0%, rgba(15, 15, 15, 0.7) 100%);
}
@media (max-width: 48.0625em) {
  .content-more__wrapper::after {
    width: calc(100% + 70px);
    left: -35px;
  }
}
@media (max-width: 29.99875em) {
  .content-more__wrapper::after {
    width: calc(100% + 50px);
    left: -25px;
  }
}
.content-more__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  padding: 4%;
  max-width: 80%;
  margin: 10%;
  text-align: center;
  min-height: 80%;
  background: rgba(6, 9, 8, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 48.0625em) {
  .content-more__block {
    min-height: 60%;
  }
}
@media (max-width: 29.99875em) {
  .content-more__block {
    max-width: 100%;
    margin: 20% 0;
  }
}
.content-more__title {
  margin-bottom: 10.15%;
}
@media (min-width: 123.5em) {
  .content-more__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 1.25rem , 0.9118357488rem  +  1.690821256vw , 3rem )) {
    .content-more__title {
      font-size: clamp( 1.25rem , 0.9118357488rem  +  1.690821256vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.9118357488rem  +  1.690821256vw , 3rem )) {
    .content-more__title {
      font-size: calc(1.25rem + 1.75 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .content-more__title {
    font-size: 1.25rem;
  }
}
.content-more.contentLine {
  transform: translateX(-99%);
}
.content-more._animation {
  transition: transform 2s ease-out;
  transform: translate(0, 0);
}

.content-contact__body {
  padding-right: 5%;
}
.content-contact__title {
  margin-bottom: 1.83%;
  transform: translateX(-99%);
}
@media (min-width: 123.5em) {
  .content-contact__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 1.5rem , 1.2101449275rem  +  1.4492753623vw , 3rem )) {
    .content-contact__title {
      font-size: clamp( 1.5rem , 1.2101449275rem  +  1.4492753623vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.2101449275rem  +  1.4492753623vw , 3rem )) {
    .content-contact__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .content-contact__title {
    font-size: 1.5rem;
  }
}
.content-contact__title._animation {
  transition: transform 1s ease-out;
  transform: translate(0, 0);
}
@media (max-width: 48.0625em) {
  .content-contact__title {
    margin-bottom: 20px;
  }
}
.content-contact__description {
  margin-bottom: 11.2%;
  transform: translateX(-99%);
}
.content-contact__description._animation {
  transition: transform 1s ease-out;
  transform: translate(0, 0);
}
@media (max-width: 48.0625em) {
  .content-contact__description {
    color: rgba(255, 255, 255, 0.6980392157);
    margin-bottom: 50px;
  }
}
.content-contact__form {
  opacity: 0;
}
.content-contact__form._animation {
  transition: opacity 2s ease-out 1s;
  opacity: 1;
}
@media (max-width: 48.0625em) {
  .content-contact__form {
    margin-bottom: 30px;
  }
}
.content-contact__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 5%;
  margin-bottom: 8%;
}
@media (max-width: 1150px) {
  .content-contact__inputs {
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 15% 5%;
  }
}
@media (max-width: 48.0625em) {
  .content-contact__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
.content-contact__input {
  display: flex;
  flex-direction: column;
}
.content-contact__input label {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
@media (max-width: 123.5em) {
  .content-contact__input label {
    font-size: 19px;
  }
}
@media (max-width: 61.99875em) {
  .content-contact__input label {
    font-size: 18px;
  }
}
.content-contact__input input, .content-contact__input textarea {
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
}
@media (max-width: 48.0625em) {
  .content-contact__input input, .content-contact__input textarea {
    font-size: 16px;
  }
}
.content-contact__input textarea {
  margin-bottom: 8%;
  width: 80%;
}
@media (max-width: 48.0625em) {
  .content-contact__input textarea {
    width: 100%;
  }
}
@media (max-width: 48.0625em) {
  .content-contact__btn button {
    font-size: 24px;
  }
}

.info-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 7%;
  transform: translateX(30%);
}
@media (max-width: 1500px) {
  .info-contact {
    padding: 0 5%;
  }
}
@media (max-width: 1400px) {
  .info-contact {
    padding: 0 4%;
  }
}
@media (max-width: 1150px) {
  .info-contact {
    padding: 0 7%;
  }
}
@media (max-width: 61.99875em) {
  .info-contact {
    padding: 0 4%;
  }
}
@media (max-width: 48.0625em) {
  .info-contact {
    align-items: flex-start;
    padding: 5%;
    margin-bottom: 60px;
  }
}
@media (orientation: portrait) {
  .info-contact {
    align-items: flex-start;
    padding: 5%;
    margin-bottom: 60px;
  }
}
.info-contact__body {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: flex-end;
  gap: 15px;
}
.info-contact__title {
  margin-bottom: 6.5%;
}
@media (min-width: 123.5em) {
  .info-contact__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 1.5rem , 1.2101449275rem  +  1.4492753623vw , 3rem )) {
    .info-contact__title {
      font-size: clamp( 1.5rem , 1.2101449275rem  +  1.4492753623vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.2101449275rem  +  1.4492753623vw , 3rem )) {
    .info-contact__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .info-contact__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 29.99875em) {
  .info-contact__title {
    margin-bottom: 30px;
  }
}
.info-contact__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
@media (max-width: 48.0625em) {
  .info-contact__block {
    align-items: flex-start;
  }
}
.info-contact__block:nth-child(1) .info-contact__link p::after {
  content: "info@demirs.global";
}
.info-contact__block:nth-child(2) .info-contact__link p::after {
  content: "+90 538 413 44 30";
}
.info-contact__block:nth-child(3) .info-contact__link p::after {
  content: "@demirs.global";
}
.info-contact__block-name {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 123.5em) {
  .info-contact__block-name {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 0.75rem , 0.7016908213rem  +  0.2415458937vw , 1rem )) {
    .info-contact__block-name {
      font-size: clamp( 0.75rem , 0.7016908213rem  +  0.2415458937vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.75rem , 0.7016908213rem  +  0.2415458937vw , 1rem )) {
    .info-contact__block-name {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .info-contact__block-name {
    font-size: 0.75rem;
  }
}
.info-contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  position: relative;
}
@media (min-width: 123.5em) {
  .info-contact__link {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 123.5em) {
  @supports (font-size: clamp( 1rem , 0.9033816425rem  +  0.4830917874vw , 1.5rem )) {
    .info-contact__link {
      font-size: clamp( 1rem , 0.9033816425rem  +  0.4830917874vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9033816425rem  +  0.4830917874vw , 1.5rem )) {
    .info-contact__link {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 20em) {
  .info-contact__link {
    font-size: 1rem;
  }
}
@media (max-width: 48.0625em) {
  .info-contact__link {
    flex-direction: row-reverse;
  }
}
.info-contact__link span {
  margin-right: auto;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 48.0625em) {
  .info-contact__link span {
    padding-right: 0;
    padding-left: 15px;
    margin-right: 0;
    margin-left: auto;
  }
}
.info-contact__link path {
  transition: opacity 0.2s ease;
}
.info-contact__link p {
  position: relative;
}
.info-contact__link p::after {
  background: linear-gradient(69.32deg, #59422E -0.35%, #735C42 6.7%, #A18964 18.78%, #BDA579 28.85%, #C8AF81 34.89%, #D4C5A0 44.97%, #DDD6B8 55.04%, #B6A284 69.13%, #977859 83.23%, #835E3F 94.31%, #7C5435 100.35%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: right;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.info-contact__link:hover path {
  opacity: 1;
}
.info-contact__link:hover p::after {
  opacity: 1;
}
.info-contact._animation {
  transition: transform 2s ease-out;
  transform: translate(0, 0);
}

.content-slider {
  position: relative;
}
.content-slider__body {
  height: 100%;
}
.content-slider__top {
  margin-bottom: 8%;
  height: auto !important;
  position: relative;
}
@media (max-width: 61.99875em) {
  .content-slider__title {
    font-size: 40px;
  }
}
@media (max-width: 48.0625em) {
  .content-slider__title {
    font-size: 30px;
    margin-bottom: 100px;
  }
}
@media (max-width: 29.99875em) {
  .content-slider__title {
    font-size: 20px;
  }
}
.content-slider__area {
  position: relative;
  min-height: 400px;
}
.content-slider__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 100%;
  display: flex;
  transition: width 0.8s ease, left 0.8s ease;
  overflow-y: hidden;
  overflow-x: visible;
}
@media (max-width: 61.99875em) {
  .content-slider__slider {
    overflow-y: visible;
  }
}

.slide-content-slider {
  position: relative;
  width: 475px;
  margin-right: 83px;
  transition: width 1s ease;
}
@media (max-width: 48.0625em) and (min-width: 123.5em) {
  .slide-content-slider {
    margin-right: 3.75rem;
  }
}
@media (max-width: 48.0625em) and (min-width: 20em) and (max-width: 123.5em) {
  @supports (margin-right: clamp( 1.5625rem , 1.139794686rem  +  2.11352657vw , 3.75rem )) {
    .slide-content-slider {
      margin-right: clamp( 1.5625rem , 1.139794686rem  +  2.11352657vw , 3.75rem );
    }
  }
  @supports not (margin-right: clamp( 1.5625rem , 1.139794686rem  +  2.11352657vw , 3.75rem )) {
    .slide-content-slider {
      margin-right: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 48.0625em) and (max-width: 20em) {
  .slide-content-slider {
    margin-right: 1.5625rem;
  }
}
@media (max-width: 29.99875em) and (min-width: 123.5em) {
  .slide-content-slider {
    margin-right: 4.0625rem;
  }
}
@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 123.5em) {
  @supports (margin-right: clamp( 1.875rem , 1.452294686rem  +  2.11352657vw , 4.0625rem )) {
    .slide-content-slider {
      margin-right: clamp( 1.875rem , 1.452294686rem  +  2.11352657vw , 4.0625rem );
    }
  }
  @supports not (margin-right: clamp( 1.875rem , 1.452294686rem  +  2.11352657vw , 4.0625rem )) {
    .slide-content-slider {
      margin-right: calc(1.875rem + 2.1875 * (100vw - 20rem) / 103.5);
    }
  }
}
@media (max-width: 29.99875em) and (max-width: 20em) {
  .slide-content-slider {
    margin-right: 1.875rem;
  }
}
.slide-content-slider__body {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: width 1s ease;
}
.slide-content-slider__img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.slide-content-slider__img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.213259) 0%, rgba(15, 15, 15, 0.5) 100%);
  z-index: 1;
}
.slide-content-slider__info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2.67% 10% 2.67% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.slide-content-slider__text {
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: 0.03em;
  max-width: 68%;
  z-index: 2;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 48.0625em) {
  .slide-content-slider__text {
    max-width: 100%;
    font-size: 20px;
  }
}
.slide-content-slider__num {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media (max-width: 48.0625em) {
  .slide-content-slider__num {
    position: absolute;
    right: 20px;
    font-size: 18px;
  }
}
.slide-content-slider._active .wrapper-slide-content-slider {
  width: 50%;
  visibility: visible;
}
.slide-content-slider._active .slide-content-slider__body {
  width: 50%;
}
.slide-content-slider._active .slide-content-slider__text {
  transform: translateX(70%);
  opacity: 0;
}
@media (max-width: 48.0625em) {
  .slide-content-slider._active .wrapper-slide-content-slider {
    width: 100%;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .slide-content-slider._active .slide-content-slider__body {
    width: 100%;
  }
}
@media (min-width: 48.0625em) {
  .slide-content-slider:nth-child(odd) {
    transform: translateY(-99%);
  }
  .slide-content-slider:nth-child(even) {
    transform: translateY(99%);
  }
  .slide-content-slider._animation {
    transition: transform 0.8s, width 1s ease;
    transform: translate(0, 0);
  }
}

.wrapper-slide-content-slider {
  background: #060908;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 50%;
  visibility: hidden;
  padding: 5% 7% 5% 7.5%;
  transition: visibility 0.5s ease;
  overflow: hidden;
}
@media (max-width: 123.5em) {
  .wrapper-slide-content-slider {
    padding: 5% 7% 5% 5.5%;
  }
}
.wrapper-slide-content-slider__title {
  margin-bottom: 7.8%;
}
.wrapper-slide-content-slider__text {
  margin-bottom: 4.63%;
}
@media (max-width: 48.0625em) {
  .wrapper-slide-content-slider {
    position: absolute;
    left: 0;
    top: -30%;
    width: 100% !important;
    height: 100%;
    z-index: 3;
    opacity: 0;
    visibility: visible;
    pointer-events: none;
    transform: translateY(-30%);
    transition: transform 0.6s ease, opacity 0.6s ease;
  }
}

.arrows {
  position: absolute;
  top: 0;
  left: 125%;
  display: flex;
  gap: 30px;
  margin-top: 4px;
  z-index: 15;
}
@media (max-width: 1600px) {
  .arrows {
    left: 120%;
  }
}
@media (max-width: 1100px) {
  .arrows {
    left: 115%;
  }
}
@media (max-width: 61.99875em) {
  .arrows {
    left: auto;
    right: 20px;
  }
}
.arrows__item {
  cursor: pointer;
  padding-bottom: 10px;
}
.arrows__item path {
  transition: stroke-opacity 0.2s ease;
}
.arrows__item:hover path {
  stroke-opacity: 1;
}

.navNum-content-slider {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: auto !important;
}
.navNum-content-slider__actual {
  font-size: 24px;
  margin-right: 5px;
}
.navNum-content-slider__all {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5019607843);
}
@media (min-width: 48.0625em) {
  .navNum-content-slider {
    display: none;
  }
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #060908;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.loader__img {
  width: 25%;
  height: auto;
  position: relative;
}
.loader__img svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 48.0625em) {
  .loader__img {
    width: 30%;
  }
}
.loader__progressBar {
  position: absolute;
  left: -10%;
  top: calc(100% + 40px);
  width: 120%;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background: rgba(217, 217, 217, 0.2);
}
.loader__progressBar::after {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(69.32deg, #59422E -0.35%, #735C42 6.7%, #A18964 18.78%, #BDA579 28.85%, #C8AF81 34.89%, #D4C5A0 44.97%, #DDD6B8 55.04%, #B6A284 69.13%, #977859 83.23%, #835E3F 94.31%, #7C5435 100.35%);
}
@media (max-width: 48.0625em) {
  .loader__progressBar {
    top: calc(100% + 20px);
  }
}
.loaded .loader {
  animation: 2s ease-in 1s forwards running loadingPage;
}
@keyframes loadingPage {
  0% {
    opacity: 1;
    pointer-events: auto;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.loaded .loader .loader__progressBar::after {
  animation: 1.5s ease-in-out 0.5s forwards running progressBarLoading;
}
@keyframes progressBarLoading {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
